.vert-line {
    border-left: 0.1vw solid #000000;
    height: 6vh;
}
li{
    display: inline-block;
    vertical-align: middle;
}
nav{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
nav ul{
    text-align: center;
    display: inline-block;
    height: auto;
    justify-content: center;
    border: 1px solid black;
    border-radius: 35px;
    width: auto;
    
    padding: 0 1vw;
    text-align: center;
}
.nav-item {
    margin: 1vw;
    /* height: 5px; */
}
#cafe{
    margin-left: 1vw;
}
#retail{
    margin-right: 1vw;
}
.icons{
    width: 6vh;
    height: 6vh;
    margin: 0.5vh 0.25vw;
}
.type-breakdown{
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 35px;
    z-index: 999;
}
.type-button{
    background-color: transparent;
	border: 0;
	padding: 0;
}
footer{
    position: absolute;
    /* margin-left: auto;
    margin-right: auto; */
    left: 0; right: 0; top: 0; bottom: 0;
    margin: 90vh auto 0 auto;
    text-align: center;
    z-index: 1;
}
body { margin: 0; padding: 0; }
#map { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    width: 100%; 
    z-index: 0;
}